{% extends 'base.html' %}
{% block stylesheet %}
    <style>
        body {
            background-color: #f8f9fa; /* Light grey background color */
        }

        .container {
            margin-top: 50px; /* Adjust the top margin as needed */
        }

        .col-4 {
            background-color: #ffffff; /* White background color */
            border: 1px solid #dee2e6; /* Light grey border */
            padding: 20px;
            border-radius: 10px; /* Rounded corners */
        }

        a {
            color: #495057; /* Dark grey text color for links */
        }
    </style>
{% endblock %} 
{% block content %}
<div class="container text-center vertical-center">
    <div class="row justify-content-center align-items-center" style="height:50vh;">
        <div class="col-4">
            <p><a href="{% url 'login' %}" class="btn btn-primary">Login</a></p>
            <p><a href="{% url 'signup' %}" class="btn btn-secondary">Create a new Account</a></p>
        </div>
    </div>
</div>
{% endblock %}
